<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Vidya</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2? family=Poppins: wght@100;200;300;400; 600; 700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font- awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="header">
    <nav>
        <img src="/images/logo.png" alt="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="#course">Course</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/forum">Forum</a></li>
                <li><a href="#about-section">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

<div class="text-box">
    <h1>Vidya Education</h1>
    <p>Join Vidya to become a part of a supportive community dedicated to nurturing your growth, fostering your curiosity, and empowering you to excel. Let's embark on this educational journey together, unlocking a world of opportunities and knowledge.</p>
    <a href="#" class="hero-btn">Know More</a>
</div>
</section>

<section id="course">
    <h1>Our Courses</h1>
    
    <div class="row">
        <div class="course-col">
            <h3>Weekly</h3>
            <p>1 week online class <br>unlimited doubts <br>any 2 chapter notes</p>
            <a href="/payment" class="hero-btn">purchase</a>
        </div>
        <div class="course-col">
            <h3>Monthly</h3>
            <p>1 week online class <br>unlimited doubts <br>any 2 chapter notes</p>
            <a href="/payment" class="hero-btn">purchase</a>
        </div>
        <div class="course-col">
            <h3>Yearly</h3>
            <p>1 week online class <br>unlimited doubts <br>any 2 chapter notes</p>
            <a href="/payment" class="hero-btn">purchase</a>
        </div>
    </div>
</section>

<section class="videos">
    <h1>Our Videos</h1>

    <div class="row">
        <div class="videos-co">
            <iframe height="280" width="400"  
            src="https://www.youtube.com/embed/WDpHKRksNvA?&mute=1&controls=0"> 
            </iframe>
        </div>
        <div class="videos-co">
            <iframe height="280" width="400"  
            src="https://www.youtube.com/embed/uPxa5JsEm4Q?si=Rl7hixWVOD7zLFzc?&mute=1&controls=0"> 
            </iframe>
        </div>
        <div class="videos-co">
            <iframe height="280" width="400"  
            src="https://www.youtube.com/embed/cI3Vvu2H-cM?&mute=1&controls=0"> 
            </iframe>
        </div>
    </div>
</section>

<section class="services">
    <h1>Our Services</h1>
    <p>Services provided by Us.</p>

    <fieldset class="services-col">
        <legend>1-1 Mentorship</legend>
        <div>
            <p>Benefit from personalized guidance through our 1-1 mentorship program. Experienced mentors provide tailored support, helping you achieve your academic and career goals.</p>
        </div>
    </fieldset>
    <fieldset class="services-col">
        <legend>Lecture Videos</legend>
        <div>
            <p>Access our extensive library of lecture videos anytime, anywhere. These engaging lessons simplify complex topics, making learning enjoyable and effective, allowing you to learn at your own pace.</p>
        </div>
    </fieldset>
    <fieldset class="services-col">
        <legend>Unlimited Doubt Solving</legend>
        <div>
            <p>Say goodbye to endless doubts! Get unlimited opportunities to clarify uncertainties, ensuring a strong understanding of even the most challenging concepts.</p>
        </div>
    </fieldset>
    <fieldset class="services-col">
        <legend>12-Hour Help Support</legend>
        <div>
            <p>Our dedicated support team is available round the clock for 12 hours, ensuring your queries are promptly addressed whenever you need assistance.</p>
        </div>
    </fieldset>
    <fieldset class="services-col">
        <legend>Community Chat</legend>
        <div>
            <p>Engage in lively discussions and collaborate with fellow learners, fostering a sense of camaraderie and enhancing your educational experience</p>
        </div>
    </fieldset>
        
</section>

<section class="testimonials">
    <h1>What expert says</h1>
    <p>Some reviews from our teachers.</p>

    <div class="row">
        <div class="testimonials-col">
            <img src="/images/rahul.jpg" alt="">
            <div>
                <p>
                    As an educator, I am thrilled to be a part of the Vidya platform. Its innovative approach to education technology has revolutionized the way students engage with learning materials. The extensive library of lecture videos and 1-1 mentorship program have significantly enhanced the learning experience for students, allowing them to grasp complex concepts with ease. Vidya's commitment to fostering a supportive community and promoting interactive learning has undoubtedly set a new standard in the realm of Edutech.
                    <h3>Rahul Thakur</h3>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars-o"></i>
                </p>
            </div>
        </div>
        <div class="testimonials-col">
            <img src="/images/sandhya.jpg" alt="">
            <div>
                <p>
                    Vidya has truly redefined the landscape of education technology. Its comprehensive range of services, including the 12-hour help support and community chat feature, has created an immersive learning environment that encourages active participation and collaboration among students. The platform's emphasis on personalized guidance and unlimited doubt solving has empowered students to excel academically and develop a deeper understanding of challenging subjects. Vidya's dedication to nurturing curiosity and fostering critical thinking skills reflects its unwavering commitment to reshaping the future of education.
                    <h3>Sandhya Gaur</h3>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars"></i>
                    <i class="fa fa-stars-half-o"></i>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="about-section">
    <h4>About Us</h4>
    <p>At Vidya, we are passionate about shaping the future of education. We believe in providing accessible, high-quality learning experiences that empower individuals to reach their full potential. With a team of dedicated educators, innovative technology, and a commitment to excellence, we offer a diverse range of courses and resources tailored to meet the unique learning needs of every student. <br>
        Our mission is to inspire a love for learning, foster creativity, and cultivate critical thinking skills. Whether you are a student looking to enhance your academic performance, a professional aiming to upskill in your field, or someone simply curious to explore new knowledge, we have something for everyone. Our expert instructors create engaging, interactive lessons designed to make learning enjoyable and effective. <br>
        At Vidya, we embrace the power of education to transform lives and communities. Join us on this exciting journey as we explore the endless possibilities of learning together. Let's unlock the doors to knowledge and embark on a fulfilling educational adventure!</p>
</section>

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu() {
    navLinks.style.right = "0";
    }
    function hideMenu() {
    navLinks.style.right = "-200px";
    }
</script>

    <footer>
        <p>&copy; 2023 Vidya</p>
        <p>Made by <h1>Vidya</h1></p>
    </footer>
</body>
</html>
